In [1]:
import pandas as pd
import numpy as np

In [2]:
de_prices = pd.read_csv('datasets/day_ahead_prices/DE_day_ahead_prices.csv')
at_prices = pd.read_csv('datasets/day_ahead_prices/AT_day_ahead_prices.csv')
at_generation = pd.read_csv('datasets/day_ahead_prices/AT_generation.csv')
at_load = pd.read_csv('datasets/day_ahead_prices/AT_load.csv')

In [3]:
de_prices

               Date     Start       End  DE_prices
0       Jan 5, 2015  12:00 AM   1:00 AM      22.34
1       Jan 5, 2015   1:00 AM   2:00 AM      17.93
2       Jan 5, 2015   2:00 AM   3:00 AM      15.17
3       Jan 5, 2015   3:00 AM   4:00 AM      16.38
4       Jan 5, 2015   4:00 AM   5:00 AM      17.38
...             ...       ...       ...        ...
74371  Jun 30, 2023   7:00 PM   8:00 PM     117.96
74372  Jun 30, 2023   8:00 PM   9:00 PM     133.43
74373  Jun 30, 2023   9:00 PM  10:00 PM     130.74
74374  Jun 30, 2023  10:00 PM  11:00 PM     122.39
74375  Jun 30, 2023  11:00 PM  12:00 AM     109.47

[74376 rows x 4 columns]

In [4]:
 # prices.Date.value_counts().reset_index(name="count").query("count != 24")["index"]
de_price_arr = np.array(de_prices['DE_prices'])
de_data = de_price_arr.reshape(de_prices.Date.nunique(), 24)
de_hours = ['DE_H' + str(i) for i in range(24)]
df = pd.DataFrame(de_data, columns = de_hours)
df.insert(0, "Date", de_prices.Date.unique())

In [5]:
df.head()

,Date,DE_H0,DE_H1,DE_H2,DE_H3,DE_H4,DE_H5,DE_H6,DE_H7,DE_H8,...,DE_H14,DE_H15,DE_H16,DE_H17,DE_H18,DE_H19,DE_H20,DE_H21,DE_H22,DE_H23
0,"Jan 5, 2015",22.34,17.93,15.17,16.38,17.38,16.38,26.61,37.63,39.09,...,42.00,43.10,46.70,56.78,58.84,49.23,44.32,40.00,35.08,30.03
1,"Jan 6, 2015",30.02,30.57,30.25,30.29,30.63,29.64,29.67,38.82,40.76,...,30.73,37.38,40.32,45.96,45.71,39.57,32.92,29.15,28.46,26.97
2,"Jan 7, 2015",24.97,24.65,24.68,25.06,26.10,26.95,31.43,45.98,47.91,...,50.88,48.00,47.14,51.07,47.42,44.83,33.86,27.42,27.02,22.11
3,"Jan 8, 2015",21.92,19.35,16.11,14.93,15.00,19.04,26.17,38.34,37.70,...,34.45,38.12,32.47,36.49,31.82,32.93,29.44,28.62,26.71,15.93
4,"Jan 9, 2015",11.55,13.47,11.23,9.37,10.33,10.57,20.08,34.24,29.99,...,29.17,29.47,30.09,33.47,32.78,33.47,30.11,26.69,21.64,14.72

In [6]:
at_prices

               Date     Start       End  AT_prices
0       Jan 5, 2015  12:00 AM   1:00 AM      22.34
1       Jan 5, 2015   1:00 AM   2:00 AM      17.93
2       Jan 5, 2015   2:00 AM   3:00 AM      15.17
3       Jan 5, 2015   3:00 AM   4:00 AM      16.38
4       Jan 5, 2015   4:00 AM   5:00 AM      17.38
...             ...       ...       ...        ...
74371  Jun 30, 2023   7:00 PM   8:00 PM     124.89
74372  Jun 30, 2023   8:00 PM   9:00 PM     136.58
74373  Jun 30, 2023   9:00 PM  10:00 PM     135.16
74374  Jun 30, 2023  10:00 PM  11:00 PM     121.97
74375  Jun 30, 2023  11:00 PM  12:00 AM     109.47

[74376 rows x 4 columns]

In [7]:
at_price_arr = np.array(at_prices['AT_prices'])
at_data = at_price_arr.reshape(at_prices.Date.nunique(), 24)
at_hours = ['AT_H' + str(i) for i in range(24)]
df = pd.concat([df, pd.DataFrame(at_data, columns = at_hours)], axis = 1)
# df.insert(0, "Date", prices.Date.unique())

In [8]:
df = pd.concat([df, at_generation['at_day_ahead_generation'], at_load['at_day_ahead_load']], axis = 1)

In [9]:
df

,Date,DE_H0,DE_H1,DE_H2,DE_H3,DE_H4,DE_H5,DE_H6,DE_H7,DE_H8,...,AT_H16,AT_H17,AT_H18,AT_H19,AT_H20,AT_H21,AT_H22,AT_H23,at_day_ahead_generation,at_day_ahead_load
0,"Jan 5, 2015",22.34,17.93,15.17,16.38,17.38,16.38,26.61,37.63,39.09,...,46.70,56.78,58.84,49.23,44.32,40.00,35.08,30.03,"1,47,254","1,42,329.75"
1,"Jan 6, 2015",30.02,30.57,30.25,30.29,30.63,29.64,29.67,38.82,40.76,...,40.32,45.96,45.71,39.57,32.92,29.15,28.46,26.97,"1,77,848","1,73,957.75"
2,"Jan 7, 2015",24.97,24.65,24.68,25.06,26.10,26.95,31.43,45.98,47.91,...,47.14,51.07,47.42,44.83,33.86,27.42,27.02,22.11,"1,45,190","1,79,527.50"
3,"Jan 8, 2015",21.92,19.35,16.11,14.93,15.00,19.04,26.17,38.34,37.70,...,32.47,36.49,31.82,32.93,29.44,28.62,26.71,15.93,"1,62,057","1,53,844.50"
4,"Jan 9, 2015",11.55,13.47,11.23,9.37,10.33,10.57,20.08,34.24,29.99,...,30.09,33.47,32.78,33.47,30.11,26.69,21.64,14.72,"1,53,973","1,38,261.75"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3094,"Jun 26, 2023",119.09,108.63,95.60,89.48,87.63,101.97,128.00,132.05,120.58,...,81.06,83.48,97.00,114.95,118.00,129.96,135.08,120.09,"1,52,180","1,54,260.00"
3095,"Jun 27, 2023",114.23,100.78,93.22,94.12,89.27,92.17,115.29,130.00,127.05,...,89.05,96.40,114.29,130.93,137.81,134.77,125.06,116.16,"1,58,388","1,55,954.00"
3096,"Jun 28, 2023",98.08,90.59,87.09,86.29,87.24,94.39,116.03,131.50,128.15,...,97.60,107.08,128.92,153.15,160.73,153.40,137.92,121.10,"1,41,249","1,52,223.00"
3097,"Jun 29, 2023",119.46,110.06,101.72,98.08,99.92,104.52,121.81,130.55,130.31,...,101.12,112.03,129.98,162.82,169.10,151.99,142.01,120.12,"1,35,430","1,53,711.25"
3098,"Jun 30, 2023",115.60,103.40,96.56,97.64,96.11,107.69,126.75,138.97,133.41,...,99.42,110.90,121.96,124.89,136.58,135.16,121.97,109.47,0,0.00

In [10]:
at_generation.Date

0        Jan 5, 2015
1        Jan 6, 2015
2        Jan 7, 2015
3        Jan 8, 2015
4        Jan 9, 2015
            ...
3094    Jun 26, 2023
3095    Jun 27, 2023
3096    Jun 28, 2023
3097    Jun 29, 2023
3098    Jun 30, 2023
Name: Date, Length: 3099, dtype: object

In [13]:
df.to_csv('datasets/processed/processed_data.csv', index=False)